@model HRMS.Models.Documento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Documento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCedulaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCedulaNavigation.Cedula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCedula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
